* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background: #0c3b09;
}

/* Header */

.logo {
  /* background: #000; */
  width: auto;
  height: 10vh;
}

.header {
  background: rgba(255, 255, 255, 0.7);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  font-size: 1.5rem;
  color: #0c3b09;
}

/* Contents */

.content {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0);
  /*  */

  padding: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0c3b09;
}

.wrapper {
  /* background: #eacccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.info-section {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*  */
  height: 85vh;
  width: 80%;

  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.info {
  background: #95fd7ec1;
  height: 5rem;
  width: 95%;
  padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-self: center;
  border-radius: 1rem;
  /* center text */
  justify-content: center;
  align-items: center;
  /*  */
  font-size: 1.5rem;
}

.temp-info {
  grid-row: 3;
  grid-column: 1 / span 4;
}

.phLevel-info {
  grid-row: 3;
  grid-column: 5 / span 4;
}

.tdsVal-info {
  grid-row: 6;
  grid-column: 1 / span 4;
}

.turpidity-info {
  grid-row: 6;
  grid-column: 5 / span 4;
}

/*

.temp-info
.phLevel-info
.tdsVal-info
.eConductivity-info

*/

/* Individual Containers */
.temperature {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.ph-level {
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
  grid-row: 1 / span 2;
  grid-column: 6 / span 2;
}

.tds-value {
  /* background-color: green; */
  width: 100%;
  height: 100%;
  grid-row: 4 / span 2;
  grid-column: 2 / span 2;
}

.turpidity {
  /* background-color: violet; */
  width: 100%;
  height: 100%;
  grid-row: 4 / span 2;
  grid-column: 6 / span 2;
}

.value {
  display: flex;
  flex: 1 1 0%;
  /* background: red; */
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

/* ================= MEDIA QUERIES ============ */

@media (max-width: 768px) {
  body {
    background-image: none;
    height: auto;
  }

  .header {
    font-size: 1rem;
    height: auto;
  }

  .wrapper {
    height: auto;
  }

  .info-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: auto;
    margin: 2rem 0 2rem 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }

  .value {
    font-size: 2rem;
  }
  /* Individual Containers */
  .temperature {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1 / span 8;
  }

  .ph-level {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    grid-row: 3;
    grid-column: 1 / span 8;
  }

  .tds-value {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 1 / span 8;
  }

  .e-conductivity {
    /* background-color: violet; */
    width: 100%;
    height: 100%;
    grid-row: 7;
    grid-column: 1 / span 8;
  }

  /* INFO */
  .info {
    font-size: 1.25rem;
  }

  .temp-info {
    margin-bottom: 2.5rem;
    grid-row: 2;
    grid-column: 1 / span 8;
  }

  .phLevel-info {
    margin-bottom: 2.5rem;
    grid-row: 4;
    grid-column: 1 / span 8;
  }

  .tdsVal-info {
    margin-bottom: 2.5rem;
    grid-row: 6;
    grid-column: 1 / span 8;
  }

  .eConductivity-info {
    grid-row: 8;
    grid-column: 1 / span 8;
  }
}
